train_config {
    batch_size: 16
    fine_tune_checkpoint: "checkpoints/efficientdet_lite2_32.tflite"
    fine_tune_checkpoint_type: "detection"
    optimizer {
        momentum_optimizer {
            learning_rate {
                cosine_decay_learning_rate {
                    learning_rate_base: 0.005
                    total_steps: 50000
                    warmup_learning_rate: 0.001
                    warmup_steps: 1000
                }
            }
            momentum_optimizer_value: 0.9
        }
        use_moving_average: false
    }
    # Other training configurations...
}

train_input_reader {
    label_map_path: "startbucks_tfrecord/train/objects_label_map.pbtxt"
    tf_record_input_reader {
        input_path: "startbucks_tfrecord/train/objects.tfrecord"
    }
}

eval_input_reader {
    label_map_path: "startbucks_tfrecord/valid/objects_label_map.pbtxt"
    tf_record_input_reader {
        input_path: "startbucks_tfrecord/valid/objects.tfrecord"
    }
}